body{
	background: url(../img/fondo3.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.text-white{
	color: white;
}

.logo{
	width: 50%;
	margin: 0 auto;
}

.total{
	border-radius: 50px;
	padding: 10px;
	color: white;
}