/*common*/
body{
	background: url(../img/fondo3.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo{
	width: 50%;
	margin: 0 auto;
}

/*index.html*/
.logo-content{
	margin-bottom: 4em;
}

/*all.html*/
.total{
	border-radius: 50px;
	padding: 10px;
	color: white;
}
/*especies.html*/


